:root {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

  --brightness: 1;

  /* accent-regular: #2d8ceb rgb(45, 140, 235) hsl(210, 83%, 55%) */

  /* --color-accent-400: 38 128 235;
  --color-accent-500: 55 142 240;
  --color-accent-600: 75 156 245;
  --color-accent-700: 90 169 250; */

  --color-primary-400: 51 51 51; /* <- hsl(0, 0%, 20%) */
  --color-primary-500: 38 38 38; /* <- hsl(0, 0%, 15%) */
  --color-primary-600: 26 26 26; /* <- hsl(0, 0%, 10%) */
  --color-primary-700: 13 13 13; /* <- #hsl(0, 0%, 5%) */

  /*
  --color-primary-400: 191 191 191; /* <- hsl(0, 0%, 75%) *
  --color-primary-500: 217 217 217; /* <- hsl(0, 0%, 75%) *
  --color-primary-600: 230 230 230; /* <- hsl(0, 0%, 75%) *
  --color-primary-700: 242 242 242; /* <- hsl(0, 0%, 75%) *
  */

  /* ~ success (mediumseagreen | mediumaquamarine | #33ab84 ) ~ */
  --color-success-400: 45 157 120;
  --color-success-500: 51 171 132;
  --color-success-600: 57 185 144;
  --color-success-700: 63 200 156;

  /* ~ warning (yellow | #eab308) ~ */
  --color-warning-50: 254 252 232; /* <- #fefce8 */
  --color-warning-100: 254 249 195; /* <- #fef9c3 */
  --color-warning-200: 254 240 138; /* <- #fef08a */
  --color-warning-300: 253 224 71; /* <- #fde047 */
  --color-warning-400: 250 204 21; /* <- #facc15 */
  --color-warning-500: 234 179 8; /* <- #eab308 */
  --color-warning-600: 202 138 4; /* <- #ca8a04 */
  --color-warning-700: 161 98 7; /* <- #a16207 */
  --color-warning-800: 133 77 14; /* <- #854d0e */
  --color-warning-900: 113 63 18; /* <- #713f12 */

  /* ~ error (rose | #f43f5e) ~ */
  --color-error-400: 227 72 80; /* <- rgb(227, 72, 80)  */
  --color-error-500: 236 91 98; /* <- rgb(236, 91, 98) */
  --color-error-600: 247 109 116; /* <- rgb(247, 109, 116) */
  --color-error-700: 255 123 130; /* <- rgb(255, 123, 130) */
}

body {
  /* accent */
  --color-accent-50: 0 56 119;       /* <- #e0f2ff */
  --color-accent-100: 0 65 138;      /* <- #cae8ff */
  --color-accent-200: 0 77 163;      /* <- #b5deff */
  --color-accent-300: 0 89 194;      /* <- #96cefd */
  --color-accent-400: 3 103 224;     /* <- #78bbfa */
  --color-accent-500: 19 121 243;    /* <- #59a7f6 */
  --color-accent-600: 52 143 244;    /* <- #3892f3 */
  --color-accent-700: 84 163 246;    /* <- #147af3 */
  --color-accent-800: 114 183 249;   /* <- #0265dc */
  --color-accent-900: 143 202 252;   /* <- #0054b6 */
  --color-accent-1000: 174 219 254;  /* <- #004491 */

  /* surface */
  --color-surface-50: 255 255 255;   /* <- #ffffff */
  --color-surface-75: 253 253 253;   /* <- #fdfdfd */
  --color-surface-100: 248 248 248;  /* <- #f8f8f8 */
  --color-surface-150: 240 240 240;  /* <- #f0f0f0 */
  --color-surface-200: 228 228 228;  /* <- #e4e4e4 */
  --color-surface-300: 230 230 230;  /* <- #e6e6e6 */
  --color-surface-400: 213 213 213;  /* <- #d5d5d5 */
  --color-surface-500: 177 177 177;  /* <- #b1b1b1 */
  --color-surface-600: 144 144 144;  /* <- #909090 */
  --color-surface-700: 109 109 109;  /* <- #6d6d6d */
  --color-surface-800: 70 70 70;     /* <- #464646 */
  --color-surface-900: 34 34 34;     /* <- #222222 */
  --color-surface-1000: 0 0 0;       /* <- #000000 */
}

@media (prefers-color-scheme: dark) {
  body {
    /* accent */
    --color-accent-50: 0 56 119;       /* <- #003877 */
    --color-accent-100: 0 65 138;      /* <- #00418a */
    --color-accent-200: 0 77 163;      /* <- #004da3 */
    --color-accent-300: 0 89 194;      /* <- #0059c2 */
    --color-accent-400: 3 103 224;     /* <- #0367e0 */
    --color-accent-500: 19 121 243;    /* <- #1379f3 */
    --color-accent-600: 52 143 244;    /* <- #348ff4 */
    --color-accent-700: 84 163 246;    /* <- #54a3f6 */
    --color-accent-800: 114 183 249;   /* <- #72b7f9 */
    --color-accent-900: 143 202 252;   /* <- #8fcafc */
    --color-accent-1000: 174 219 254;  /* <- #aedbfe */

    /* surface */
    --color-surface-50: 22 22 22;      /* <- #161616 */
    --color-surface-75: 29 29 29;      /* <- #1d1d1d */
    --color-surface-100: 33 33 33;     /* <- #232323 */
    --color-surface-150: 35 35 35;     /* <- #262626 */
    --color-surface-200: 40 40 40;     /* <- #282828 */
    --color-surface-300: 63 63 63;     /* <- #3f3f3f */
    --color-surface-400: 84 84 84;     /* <- #545454 */
    --color-surface-500: 112 112 112;  /* <- #707070 */
    --color-surface-600: 144 144 144;  /* <- #909090 */
    --color-surface-700: 178 178 178;  /* <- #b2b2b2 */
    --color-surface-800: 209 209 209;  /* <- #d1d1d1 */
    --color-surface-900: 235 235 235;  /* <- #ebebeb */
    --color-surface-1000: 255 255 255; /* <- #ffffff */
  }
}


body {
  --color-text: var(--color-surface-800);
  --text-opacity: 100%;
  --item-accent: var(--color-surface-500);
  --item-opacity: 100%;

  background-color: rgb(var(--color-surface-100));
  color: rgb(var(--color-text) / var(--text-opacity));
  padding: 0.5rem;
}

input:not([type="range"], [type="radio"]),
checkbox,
select,
textarea {
  --item-opacity: 100%;
  --color-text: var(--item-accent);
  --ring-offset: 0;
  --ring-width: 1px;

  border: none;
  border-radius: 0.25rem;
  background-color: rgb(var(--color-surface-50));
  padding: 0.25rem;
  margin: 0.25rem;
  width: 100%;
  fill: var(var(--item-accent) / var(--item-opacity));
  outline: rgb(var(--item-accent)  / var(--item-opacity)) solid var(--ring-width);
  outline-offset: var(--ring-offset);

  /* &:not(.fit):not(checkbox) { */
    /* min-width: 10rem; */
    /* max-width: 20rem; */
    width: fit-content;
  /* } */
}

input:not([type="range"], [type="radio"]):focus-visible,
checkbox:focus-visible,
select:focus-visible,
textarea:focus-visible {
  --ring-width: 2px;
  outline: rgb(var(--color-surface-500) / 100) solid 2px;

  outline: rgb(var(--item-accent) / var(--item-opacity)) solid var(--ring-width);
}

.btn {
  /* size (match base) */
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1.25rem;
  margin: 0.25rem;
  font-weight: 600;
  color: rgb(var(--color-text));

  /* core */
  text-align: center;
  white-space: nowrap;
  border-radius: 0.5rem;

  /* flex Columns */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* hover */
  filter: var(--brightness);

  /* transitions */
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    outline-offset;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn.filled {
  background: rgb(var(--item-accent) / var(--item-opacity));
}

.btn.outline {
  --color-text: var(--item-accent);
  --ring-offset-shadow: 0 0 0;
  --ring-color: rgb(var(--item-accent) / var(--item-opacity));
  --ring-width: 2px;
  --ring-inset: inset;
  --background-opacity: 0%;

  box-shadow: var(--ring-inset) var(--ring-offset-shadow) var(--ring-width) var(--ring-color);
  background: rgb(var(--item-accent) / var(--background-opacity));
}

.btn.xs {
  padding: 0.25rem 0.5rem;
}

.btn.sm {
  padding: 0.375rem 0.75rem;
}

.btn.base {
  padding: 0.5rem 1.25rem;
}

.btn.lg {
  padding: 0.75rem 1.75rem;
}

.btn.xl {
  padding: 1rem 2.25rem;
}

.primary {
  --color-text: var(--color-surface-150);
  --item-accent: var(--color-surface-800);
  --item-accent-darker: var(--color-surface-900);
}

.accent,
.info {
  --item-accent: var(--color-accent-500);
  --item-accent-darker: var(--color-accent-700);
}

.warning {
  --item-accent: var(--color-warning-500);
  --item-accent-darker: var(--color-warning-700);
}

.error {
  --item-accent: var(--color-error-500);
  --item-accent-darker: var(--color-error-700);
}

.neutral,
.surface {
  --color-text: var(--color-surface-150);
  --item-accent: var(--color-surface-600);
  --item-accent-darker: var(--color-surface-900);
}

.success {
  --item-accent: var(--color-success-500);
  --item-accent-darker: var(--color-success-700);
}